        /*Font For Normal Text To Read*/
        
        @import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
        /*Font For Titles of Sections*/
        
        @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
        /*Font For Titles of Thms and Rules*/
        
        @import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

        body {
            width: 75%;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
        }
        
        h3 {
            font-size: 20pt;
            font-family: 'Pacifico', cursive;
        }
        
        h5 {
            font-size: 16pt;
            font-family: 'Indie Flower', cursive;
            margin: 0;
            margin-top: 15px;
        }
        
        li:not(var) {
            font-size: 12pt;
            font-family: 'Titilium Web', sans-serif;
        }
        
        .indent>ul {
            list-style-type: none;
        }
        
        .indent>ul>li:before {
            /*Theta
            content: '\03B8';*/
            /*Infinity*/
            content: '\221E';
            margin-left: -20px;
            margin-right: 10px;
            font-size: 16pt;
        }
        
        .indent {
            margin-left: 4em;
        }
        
        .fraction {
            display: inline-block;
            margin: 2px;
            margin-bottom: 1em;
        }
        
         :not(lim)>.fraction .top {
            border-bottom: 1px solid black;
        }
        
        .fraction .top,
        .fraction .bottom {
            text-align: center;
        }
        
        .limTable {
            display: inline-table;
            margin: 0;
            padding: 0;
            border: 1px solid black;
        }
        
        .limTable td {
            border: 1px solid black;
            padding: 0;
            vertical-align: center;
            text-align: center;
        }
        
        derivative .fraction {
            transform: translateY(30%);
        }
        
         :not(.limTable) .fraction {
            transform: translateY(30%);
        }
        
        .rules td {
            border: 2px solid black;
            border-radius: 15px;
            border-spacing: 0;
            padding: 10px;
            text-align: center;
        }
        
        .rules td .th {
            display: block;
        }
        
        #unit1,
        #unit2,
        #unit3,
        #unit4,
        #unit5,
        #unit6,
        #unit7,
        #unit8,
        #unit9 {
            display: none;
            -webkit-transition: display 1s ease-in-out;
            -moz-transition: display 1s ease-in-out;
            -ms-transition: display 1s ease-in-out;
            -o-transition: display 1s ease-in-out;
            transition: display 1s ease-in-out;
        }
        
        .toggleButton:before {
            padding-top: 100%;
        }
        
        .toggleButton {
            border: 1px solid grey;
            /*border-radius: 15px;*/
            display: inline-table;
            margin: 5px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            float: left;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        .toggleButton:hover {
            cursor: pointer;
            background-color: rgb(0, 208, 255);
        }
        
        .toggleButton:hover+h2 {
            color: rgb(0, 180, 255);
        }
        
        .important {
            transition: all 0.5s ease-in-out;
            background-color: white;
        }
        
        .important:hover {
            border-style: dashed;
            width: auto;
            cursor: default;
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            background-color: rgb(0, 208, 255);
            position: relative;
            z-index: 10;
        }
        
        derivative,
        lim,
        sqrt,
        var {
            font-family: initial;
            /*Overrides the Google Fonts so that the math can render better*/
        }
        .staticTable {
            border-collapse: collapse;
        }
        .staticTable td {
            padding: 10px;
            text-align: center;
            border: 2px solid black;
            border-collapse: collapse;
